myfiles/subteCenter/nodeRed/data/flows.json
[{"id":"8de65aa.f4b7da8","type":"tab","label":"Flow 1"},{"id":"c18e648.dbe6b98","type":"mqtt-broker","z":"","broker":"192.168.1.80","port":"1883","clientid":"node-red","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"36ff5d15.f41822","type":"redis-config","z":"","host":"redis","port":"6379","dbase":"0","pass":""},{"id":"e5265a63.e5dea8","type":"redis-config","z":"","host":"172.17.0.2","port":"6379","dbase":"0","pass":""},{"id":"8a152ef9.eb3fe","type":"redis-config","z":"","host":"localhost","port":"6379","dbase":"0","pass":""},{"id":"e4a7fa35.d40118","type":"redis-config","z":"","host":"redisweathercenter","port":"6379","dbase":"0","pass":""},{"id":"7977104b.3ebae","type":"html","z":"8de65aa.f4b7da8","name":"","tag":"#status-line-A-container,#status-line-B-container,#status-line-C-container","ret":"text","as":"single","x":578.8957977294922,"y":259.8888854980469,"wires":[["93088ecb.c231b"]]},{"id":"8ec2a5ca.ed6e78","type":"inject","z":"8de65aa.f4b7da8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":144.82640075683594,"y":122.96876525878906,"wires":[["b00eb1c2.b90b2"]]},{"id":"95cf3283.39b8e","type":"debug","z":"8de65aa.f4b7da8","name":"","active":true,"console":"false","complete":"false","x":1048.8332977294922,"y":232.3194580078125,"wires":[]},{"id":"b00eb1c2.b90b2","type":"http request","z":"8de65aa.f4b7da8","name":"","method":"GET","ret":"txt","url":"http://www.metrovias.com.ar/","tls":"","x":207.8402862548828,"y":308.76043701171875,"wires":[["7977104b.3ebae"]]},{"id":"93088ecb.c231b","type":"function","z":"8de65aa.f4b7da8","name":"","func":"for (var i in msg.payload){\n    //msg.payload[i] = msg.payload[i].replace(\"<br/>\",\"\");\n    msg.payload[i] = msg.payload[i].replace(/\\r\\n?\\n/g, \"\").trim()\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":860.8264312744141,"y":432.7187805175781,"wires":[["95cf3283.39b8e"]]}]