myfiles/subteCenter/nodeRed/data/flows.json
[{"id":"8de65aa.f4b7da8","type":"tab","label":"Flow 1"},{"id":"c18e648.dbe6b98","type":"mqtt-broker","z":"","broker":"192.168.1.80","port":"1883","clientid":"node-red","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"36ff5d15.f41822","type":"redis-config","z":"","host":"redis","port":"6379","dbase":"0","pass":""},{"id":"e5265a63.e5dea8","type":"redis-config","z":"","host":"172.17.0.2","port":"6379","dbase":"0","pass":""},{"id":"8a152ef9.eb3fe","type":"redis-config","z":"","host":"localhost","port":"6379","dbase":"0","pass":""},{"id":"e4a7fa35.d40118","type":"redis-config","z":"","host":"redisweathercenter","port":"6379","dbase":"0","pass":""},{"id":"7977104b.3ebae","type":"html","z":"8de65aa.f4b7da8","name":"Lineas","tag":"#status-line-A-container,#status-line-B-container,#status-line-C-container,#status-line-D-container,#status-line-E-container,#status-line-H-container,#status-line-P-container,#status-line-U-container","ret":"text","as":"single","x":282.895751953125,"y":204.88888549804688,"wires":[["93088ecb.c231b"]]},{"id":"b00eb1c2.b90b2","type":"http request","z":"8de65aa.f4b7da8","name":"","method":"GET","ret":"txt","url":"http://www.metrovias.com.ar/","tls":"","x":136.8402862548828,"y":197.76043701171875,"wires":[["7977104b.3ebae"]]},{"id":"93088ecb.c231b","type":"function","z":"8de65aa.f4b7da8","name":"Arregla los mensajes","func":"for (var i in msg.payload){\n    //msg.payload[i] = msg.payload[i].replace(\"<br/>\",\"\");\n    msg.payload[i] = msg.payload[i].replace(/\\r\\n?\\n/g, \"\").trim()\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":485.8264617919922,"y":200.39932250976562,"wires":[["94692783.135dc8"]]},{"id":"94692783.135dc8","type":"function","z":"8de65aa.f4b7da8","name":"Arma mensaje","func":"var newmsg = {\n    payload : {\n        \n        linea_a : {linea: \"Linea A\", estado : msg.payload[0]},\n        linea_b : {linea: \"Linea B\", estado : msg.payload[1]},\n        linea_c : {linea: \"Linea C\", estado : msg.payload[2]},\n        linea_d : {linea: \"Linea D\", estado : msg.payload[3]},\n        linea_e : {linea: \"Linea E\", estado : msg.payload[4]},\n        linea_h : {linea: \"Linea H\", estado : msg.payload[5]},\n        linea_p : {linea: \"Premetro\", estado : msg.payload[6]},\n        linea_u : {linea: \"Urquiza\", estado : msg.payload[7]}\n        \n    }\n};\nmsg.payload = newmsg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":703.8264007568359,"y":202.8194580078125,"wires":[["9bb335af.a311a8"]]},{"id":"9bb335af.a311a8","type":"http response","z":"8de65aa.f4b7da8","name":"","x":871.8333892822266,"y":251.95486450195312,"wires":[]},{"id":"62f8debc.ad253","type":"http in","z":"8de65aa.f4b7da8","name":"","url":"/subtestatus","method":"get","swaggerDoc":"","x":114.83680725097656,"y":64.00347137451172,"wires":[["b00eb1c2.b90b2"]]}]