myfiles/weatherCenter/nodeRed/data/.flows.json.backup
[{"id":"8589db7e.b0d598","type":"tab","label":"buferizacion del clima"},{"id":"c9d3094f.60ed08","type":"tab","label":"weather conditions"},{"id":"c18e648.dbe6b98","type":"mqtt-broker","z":"","broker":"192.168.1.80","port":"1883","clientid":"node-red","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"36ff5d15.f41822","type":"redis-config","z":"","host":"redis","port":"6379","dbase":"0","pass":""},{"id":"e5265a63.e5dea8","type":"redis-config","z":"","host":"172.17.0.2","port":"6379","dbase":"0","pass":""},{"id":"8a152ef9.eb3fe","type":"redis-config","z":"","host":"localhost","port":"6379","dbase":"0","pass":""},{"id":"e4a7fa35.d40118","type":"redis-config","z":"","host":"redisweathercenter","port":"6379","dbase":"0","pass":""},{"id":"82118603.7b4d08","type":"http in","z":"8589db7e.b0d598","name":"weatherCenter-conditions","url":"/weather","method":"get","swaggerDoc":"","x":120,"y":343.13888931274414,"wires":[["95e5d12d.1eef","5f3f6b3e.8d1c44"]]},{"id":"95e5d12d.1eef","type":"function","z":"8589db7e.b0d598","name":"Carga de datos","func":"msg.apiid = \"342175c5d5eee734\";\n//msg.lat = \"-34.6421149\";\n//msg.lon = \"-58.4612144\";\nmsg.lat = msg.payload.lat;\nmsg.lon = msg.payload.lon;\n\nmsg.exptime = 600;//segundos\nmsg.payload = [msg.lat+\",\"+msg.lon];\nreturn msg;","outputs":1,"noerr":0,"x":399.75293350219727,"y":297.71030044555664,"wires":[["f152d7c4.89d1a8"]]},{"id":"f152d7c4.89d1a8","type":"redis-command","z":"8589db7e.b0d598","server":"e4a7fa35.d40118","command":"get","name":"buscar en el buffer","topic":"","x":620.3298721313477,"y":299.84375953674316,"wires":[["425d67af.442d48","4929058b.bc2e7c","6845cba3.02acb4"]]},{"id":"b660bc7d.36f05","type":"debug","z":"8589db7e.b0d598","name":"","active":false,"console":"false","complete":"false","x":1424.3298645019531,"y":608.2707996368408,"wires":[]},{"id":"425d67af.442d48","type":"switch","z":"8589db7e.b0d598","name":"is null","property":"payload","propertyType":"msg","rules":[{"t":"null"}],"checkall":"true","outputs":1,"x":831.3264312744141,"y":220.36809062957764,"wires":[["6506f6cc.a0c538"]]},{"id":"91551b76.48c558","type":"http response","z":"8589db7e.b0d598","name":"","x":1395.80122756958,"y":276.2683515548706,"wires":[]},{"id":"4929058b.bc2e7c","type":"switch","z":"8589db7e.b0d598","name":"is not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":849.5868301391602,"y":428.4548759460449,"wires":[["8208ee63.7b49d"]]},{"id":"6506f6cc.a0c538","type":"http request","z":"8589db7e.b0d598","name":"","method":"GET","ret":"txt","url":"http://api.wunderground.com/api/{{{apiid}}}/conditions/lang:SP/q/{{{lat}}},{{{lon}}}.json","tls":"","x":1114.538906097412,"y":211.28175258636475,"wires":[["dc00bf90.db12d","10439dd1.eaffe2","91551b76.48c558"]]},{"id":"dc00bf90.db12d","type":"function","z":"8589db7e.b0d598","name":"JSONtoSTR","func":"msg.payload = [msg.lat+\",\"+msg.lon,msg.exptime,JSON.stringify(msg.payload)];\nreturn msg;","outputs":1,"noerr":0,"x":1135.5461463928223,"y":27.5,"wires":[["88aeb1c2.d4e74"]]},{"id":"88aeb1c2.d4e74","type":"redis-command","z":"8589db7e.b0d598","server":"e4a7fa35.d40118","command":"setex","name":"bufferizar","topic":"","x":1387.5461654663086,"y":20.677997589111328,"wires":[[]]},{"id":"8208ee63.7b49d","type":"function","z":"8589db7e.b0d598","name":"STRtoJSON","func":"msg.payload = JSON.parse(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1066.037338256836,"y":426.7187943458557,"wires":[["67be906e.6725c"]]},{"id":"10439dd1.eaffe2","type":"debug","z":"8589db7e.b0d598","name":"","active":false,"console":"false","complete":"false","x":1371.0979690551758,"y":176.39574813842773,"wires":[]},{"id":"67be906e.6725c","type":"json","z":"8589db7e.b0d598","name":"","x":1267.855869293213,"y":428.70661759376526,"wires":[["91551b76.48c558","b660bc7d.36f05"]]},{"id":"b9c8208b.50d5e","type":"redis-command","z":"8589db7e.b0d598","server":"e4a7fa35.d40118","command":"flushall","name":"","topic":"","x":498.5329933166504,"y":686.4322996139526,"wires":[[]]},{"id":"b7333148.791bb","type":"inject","z":"8589db7e.b0d598","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":112.28732681274414,"y":704.9565925598145,"wires":[["2a5dffd.7e9fb"]]},{"id":"2a5dffd.7e9fb","type":"function","z":"8589db7e.b0d598","name":"","func":"msg.payload = []\nreturn msg;","outputs":1,"noerr":0,"x":294.80035400390625,"y":690.6076526641846,"wires":[["b9c8208b.50d5e"]]},{"id":"ef9bb9e0.a60898","type":"http in","z":"c9d3094f.60ed08","name":"","url":"/weathercondition","method":"get","swaggerDoc":"","x":107.85713958740234,"y":213.25400161743164,"wires":[["fdbe4eed.1682f","77ae81b3.6d375"]]},{"id":"2a08b7fc.a04bc8","type":"function","z":"c9d3094f.60ed08","name":"","func":"var newmsg = {\n    payload:{\n        temp: msg.payload.current_observation.temp_c,\n        wind: msg.payload.current_observation.wind_kph,\n        city: msg.payload.current_observation.display_location.full,\n        weather: msg.payload.current_observation.weather,\n        icon: msg.payload.current_observation.icon_url\n    }\n};\n\nmsg.payload = newmsg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":800.1322822570801,"y":247.16930866241455,"wires":[["d1035f87.b0ea5","84103d0e.9a9e4"]]},{"id":"53459828.2c2798","type":"http request","z":"c9d3094f.60ed08","name":"","method":"GET","ret":"txt","url":"localhost:1880/weather?lat={{{lat}}}&lon={{{lon}}}","tls":"","x":482.82688903808594,"y":212.9436740875244,"wires":[["18787606.98c32a"]]},{"id":"d1035f87.b0ea5","type":"http response","z":"c9d3094f.60ed08","name":"","x":984.5729217529297,"y":257.8373155593872,"wires":[]},{"id":"84103d0e.9a9e4","type":"debug","z":"c9d3094f.60ed08","name":"","active":false,"console":"false","complete":"false","x":1022.4238662719727,"y":376.86064052581787,"wires":[]},{"id":"18787606.98c32a","type":"json","z":"c9d3094f.60ed08","name":"","x":639.0250015258789,"y":241.01576232910156,"wires":[["2a08b7fc.a04bc8","3e7cacd7.bb5b14"]]},{"id":"6845cba3.02acb4","type":"debug","z":"8589db7e.b0d598","name":"","active":false,"console":"false","complete":"false","x":967.3333129882812,"y":284.6666564941406,"wires":[]},{"id":"fdbe4eed.1682f","type":"function","z":"c9d3094f.60ed08","name":"setLatLon","func":"msg.lat = msg.payload.lat;\nmsg.lon = msg.payload.lon;\nreturn msg;","outputs":1,"noerr":0,"x":307.1428451538086,"y":217.1428518295288,"wires":[["53459828.2c2798"]]},{"id":"3e7cacd7.bb5b14","type":"debug","z":"c9d3094f.60ed08","name":"","active":true,"console":"false","complete":"false","x":772.8572006225586,"y":437.14283561706543,"wires":[]},{"id":"77ae81b3.6d375","type":"debug","z":"c9d3094f.60ed08","name":"","active":true,"console":"false","complete":"false","x":359.99999999999994,"y":385.71428571428567,"wires":[]},{"id":"5f3f6b3e.8d1c44","type":"debug","z":"8589db7e.b0d598","name":"","active":true,"console":"false","complete":"false","x":489.99999999999994,"y":405.71428571428567,"wires":[]}]