myfiles/weatherCenter/nodeRed/data/flows.json
[{"id":"22b175f7.a6d5fa","type":"tab","label":"Flow 1"},{"id":"5084962f.a6d658","type":"tab","label":"Flow 2"},{"id":"8589db7e.b0d598","type":"tab","label":"Flow 3"},{"id":"c18e648.dbe6b98","type":"mqtt-broker","z":"","broker":"192.168.1.80","port":"1883","clientid":"node-red","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"36ff5d15.f41822","type":"redis-config","z":"","host":"redis","port":"6379","dbase":"0","pass":""},{"id":"e5265a63.e5dea8","type":"redis-config","z":"","host":"172.17.0.2","port":"6379","dbase":"0","pass":""},{"id":"8a152ef9.eb3fe","type":"redis-config","z":"","host":"localhost","port":"6379","dbase":"0","pass":""},{"id":"e4a7fa35.d40118","type":"redis-config","z":"","host":"redisweathercenter","port":"6379","dbase":"0","pass":""},{"id":"1493743e.cda3bc","type":"http in","z":"22b175f7.a6d5fa","name":"weatherCenter-conditions","url":"/weatherCenter/conditions","method":"get","swaggerDoc":"","x":119.28572082519531,"y":165.14285945892334,"wires":[["60753f1.3c1d5c"]]},{"id":"62e7011e.9c922","type":"http request","z":"22b175f7.a6d5fa","name":"","method":"GET","ret":"txt","url":"http://api.wunderground.com/api/{{{apiid}}}/conditions/q/{{{lat}}},{{{lon}}}.json","tls":"","x":592.428581237793,"y":141.8571400642395,"wires":[["22d6176d.aa1268","7294fa9e.1b7864"]]},{"id":"22d6176d.aa1268","type":"http response","z":"22b175f7.a6d5fa","name":"","x":811.0000324249268,"y":114.71428108215332,"wires":[]},{"id":"7294fa9e.1b7864","type":"debug","z":"22b175f7.a6d5fa","name":"","active":true,"console":"false","complete":"false","x":827.0000324249268,"y":184.71428108215332,"wires":[]},{"id":"60753f1.3c1d5c","type":"function","z":"22b175f7.a6d5fa","name":"Carga de datos","func":"msg.apiid = \"342175c5d5eee734\"\nmsg.lat = \"-34.6421149\"\nmsg.lon = \"-58.4612144\"\nreturn msg;","outputs":1,"noerr":0,"x":367.1428756713867,"y":147.7142791748047,"wires":[["62e7011e.9c922"]]},{"id":"666ec336.4bd63c","type":"http in","z":"22b175f7.a6d5fa","name":"","url":"/prueba","method":"get","swaggerDoc":"","x":197.14285278320312,"y":467.1428413391113,"wires":[["b02f6893.ca53c8"]]},{"id":"5633fdb0.038264","type":"debug","z":"22b175f7.a6d5fa","name":"","active":true,"console":"false","complete":"false","x":912.8571395874023,"y":474.28571128845215,"wires":[]},{"id":"b02f6893.ca53c8","type":"function","z":"22b175f7.a6d5fa","name":"","func":"msg.payload = 2\nreturn msg;","outputs":1,"noerr":0,"x":370.00000381469727,"y":468.57145977020264,"wires":[["61d37f89.67c3b"]]},{"id":"61d37f89.67c3b","type":"switch","z":"22b175f7.a6d5fa","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":1,"x":538.5714569091797,"y":468.5714340209961,"wires":[["44abc91f.fcdb48"]]},{"id":"44abc91f.fcdb48","type":"function","z":"22b175f7.a6d5fa","name":"","func":"msg.payload = \"asd\"\nreturn msg;","outputs":1,"noerr":0,"x":714.2856369018555,"y":480.00007915496826,"wires":[["5633fdb0.038264"]]},{"id":"c633cb5a.2bce88","type":"redis-command","z":"5084962f.a6d658","server":"36ff5d15.f41822","command":"get","name":"","topic":"","x":439,"y":146,"wires":[["b6811d6d.ce965","3280d438.428f9c","1e6598bc.a230a7"]]},{"id":"ba31ed46.7df5","type":"http in","z":"5084962f.a6d658","name":"","url":"/prueba2","method":"get","swaggerDoc":"","x":114,"y":266,"wires":[["97e3abd1.1e48f8"]]},{"id":"b6811d6d.ce965","type":"function","z":"5084962f.a6d658","name":"","func":"msg.payload = JSON.parse(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":561,"y":280,"wires":[["75acaa73.3ad2d4"]]},{"id":"1e6598bc.a230a7","type":"http response","z":"5084962f.a6d658","name":"","x":712,"y":280,"wires":[]},{"id":"97e3abd1.1e48f8","type":"function","z":"5084962f.a6d658","name":"","func":"//{ \"name\": \"binchen\" }\n\nmsg.payload = [\"hola\"];\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":126,"wires":[["c633cb5a.2bce88","a8d1c01a.562f2"]]},{"id":"3280d438.428f9c","type":"debug","z":"5084962f.a6d658","name":"","active":false,"console":"false","complete":"payload","x":657,"y":140,"wires":[]},{"id":"a8d1c01a.562f2","type":"debug","z":"5084962f.a6d658","name":"","active":false,"console":"false","complete":"false","x":387,"y":293,"wires":[]},{"id":"75acaa73.3ad2d4","type":"debug","z":"5084962f.a6d658","name":"","active":true,"console":"false","complete":"payload.name","x":627,"y":394,"wires":[]},{"id":"82118603.7b4d08","type":"http in","z":"8589db7e.b0d598","name":"weatherCenter-conditions","url":"/asdasd","method":"get","swaggerDoc":"","x":162.8958282470703,"y":136.88888549804688,"wires":[["95e5d12d.1eef"]]},{"id":"95e5d12d.1eef","type":"function","z":"8589db7e.b0d598","name":"Carga de datos","func":"msg.apiid = \"342175c5d5eee734\"\nmsg.lat = \"-34.6421149\"\nmsg.lon = \"-58.4612144\"\nmsg.payload = [msg.lat+\",\"+msg.lon]\nreturn msg;","outputs":1,"noerr":0,"x":419.75294494628906,"y":141.46029663085938,"wires":[["f152d7c4.89d1a8","b660bc7d.36f05"]]},{"id":"f152d7c4.89d1a8","type":"redis-command","z":"8589db7e.b0d598","server":"e4a7fa35.d40118","command":"get","name":"","topic":"","x":696.8298797607422,"y":121.59375,"wires":[["91551b76.48c558"]]},{"id":"b660bc7d.36f05","type":"debug","z":"8589db7e.b0d598","name":"","active":true,"console":"false","complete":"false","x":665.8298797607422,"y":256.7708435058594,"wires":[]},{"id":"91551b76.48c558","type":"http response","z":"8589db7e.b0d598","name":"","x":906.8368377685547,"y":158.73263549804688,"wires":[]}]