myfiles/weatherCenter/nodeRed/data/flows.json
[{"id":"22b175f7.a6d5fa","type":"tab","label":"Flow 1"},{"id":"1493743e.cda3bc","type":"http in","z":"22b175f7.a6d5fa","name":"weatherCenter-conditions","url":"/weatherCenter/conditions","method":"get","swaggerDoc":"","x":119.28572082519531,"y":165.14285945892334,"wires":[["60753f1.3c1d5c"]]},{"id":"62e7011e.9c922","type":"http request","z":"22b175f7.a6d5fa","name":"","method":"GET","ret":"txt","url":"http://api.wunderground.com/api/{{{apiid}}}/conditions/q/{{{lat}}},{{{lon}}}.json","tls":"","x":592.428581237793,"y":141.8571400642395,"wires":[["22d6176d.aa1268","7294fa9e.1b7864"]]},{"id":"22d6176d.aa1268","type":"http response","z":"22b175f7.a6d5fa","name":"","x":811.0000324249268,"y":114.71428108215332,"wires":[]},{"id":"7294fa9e.1b7864","type":"debug","z":"22b175f7.a6d5fa","name":"","active":true,"console":"false","complete":"false","x":827.0000324249268,"y":184.71428108215332,"wires":[]},{"id":"60753f1.3c1d5c","type":"function","z":"22b175f7.a6d5fa","name":"Carga de datos","func":"msg.apiid = \"342175c5d5eee734\"\nmsg.lat = \"-34.6421149\"\nmsg.lon = \"-58.4612144\"\nreturn msg;","outputs":1,"noerr":0,"x":367.1428756713867,"y":147.7142791748047,"wires":[["62e7011e.9c922"]]},{"id":"666ec336.4bd63c","type":"http in","z":"22b175f7.a6d5fa","name":"","url":"/prueba","method":"get","swaggerDoc":"","x":197.14285278320312,"y":467.1428413391113,"wires":[["b02f6893.ca53c8"]]},{"id":"5633fdb0.038264","type":"debug","z":"22b175f7.a6d5fa","name":"","active":true,"console":"false","complete":"false","x":712.8571428571428,"y":457.1428571428571,"wires":[]},{"id":"b02f6893.ca53c8","type":"function","z":"22b175f7.a6d5fa","name":"","func":"msg.payload = \"hola como estas\"\nreturn msg;","outputs":1,"noerr":0,"x":437.14284896850586,"y":470.000018119812,"wires":[["d2271577.7763b8"]]},{"id":"d2271577.7763b8","type":"delay","z":"22b175f7.a6d5fa","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400.0000400543213,"y":652.8571147918701,"wires":[["5633fdb0.038264","b02f6893.ca53c8"]]}]