myfiles/weatherCenter/nodeRed/data/flows.json
[{"id":"22b175f7.a6d5fa","type":"tab","label":"Flow 1"},{"id":"c18e648.dbe6b98","type":"mqtt-broker","z":"","broker":"192.168.1.80","port":"1883","clientid":"node-red","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"1493743e.cda3bc","type":"http in","z":"22b175f7.a6d5fa","name":"weatherCenter-conditions","url":"/weatherCenter/conditions","method":"get","swaggerDoc":"","x":119.28572082519531,"y":165.14285945892334,"wires":[["60753f1.3c1d5c"]]},{"id":"62e7011e.9c922","type":"http request","z":"22b175f7.a6d5fa","name":"","method":"GET","ret":"txt","url":"http://api.wunderground.com/api/{{{apiid}}}/conditions/q/{{{lat}}},{{{lon}}}.json","tls":"","x":592.428581237793,"y":141.8571400642395,"wires":[["22d6176d.aa1268","7294fa9e.1b7864"]]},{"id":"22d6176d.aa1268","type":"http response","z":"22b175f7.a6d5fa","name":"","x":811.0000324249268,"y":114.71428108215332,"wires":[]},{"id":"7294fa9e.1b7864","type":"debug","z":"22b175f7.a6d5fa","name":"","active":true,"console":"false","complete":"false","x":827.0000324249268,"y":184.71428108215332,"wires":[]},{"id":"60753f1.3c1d5c","type":"function","z":"22b175f7.a6d5fa","name":"Carga de datos","func":"msg.apiid = \"342175c5d5eee734\"\nmsg.lat = \"-34.6421149\"\nmsg.lon = \"-58.4612144\"\nreturn msg;","outputs":1,"noerr":0,"x":367.1428756713867,"y":147.7142791748047,"wires":[["62e7011e.9c922"]]},{"id":"666ec336.4bd63c","type":"http in","z":"22b175f7.a6d5fa","name":"","url":"/prueba","method":"get","swaggerDoc":"","x":197.14285278320312,"y":467.1428413391113,"wires":[["b02f6893.ca53c8"]]},{"id":"5633fdb0.038264","type":"debug","z":"22b175f7.a6d5fa","name":"","active":true,"console":"false","complete":"false","x":912.8571395874023,"y":474.28571128845215,"wires":[]},{"id":"b02f6893.ca53c8","type":"function","z":"22b175f7.a6d5fa","name":"","func":"msg.payload = 2\nreturn msg;","outputs":1,"noerr":0,"x":370.00000381469727,"y":468.57145977020264,"wires":[["61d37f89.67c3b"]]},{"id":"61d37f89.67c3b","type":"switch","z":"22b175f7.a6d5fa","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":1,"x":538.5714569091797,"y":468.5714340209961,"wires":[["44abc91f.fcdb48"]]},{"id":"44abc91f.fcdb48","type":"function","z":"22b175f7.a6d5fa","name":"","func":"msg.payload = \"asd\"\nreturn msg;","outputs":1,"noerr":0,"x":714.2856369018555,"y":480.00007915496826,"wires":[["5633fdb0.038264"]]}]